body 
{
    background-color: rgb(255, 255, 255);
}

h1 
{
    color: rgb(0, 0, 0);
    

}

/* this is what moves the button */
.center
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 45%;
    -ms-transform: translateY(-50%, -50%);
    transform: translateY(-50%, -50%);
}

.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(116, 146, 39); /* Change this to your preferred color */
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    text-align: center;
    transition: background-color 0.3s;
}

.button-link:hover {
    background-color: #441392; /* Change this to your preferred hover color */
}


/*this moves the h1*/
.h1
{
    margin: 0;
    position: absolute;
    top: 10%;
    left: 40%;
    -ms-transform: translateY(-50%, -50%);
    transform: translateY(-50%, -50%);
}


.upright
{
    position: absolute;
    top: 0;
    right: 0;
}