body 
{
    background-color: white;
}

h1 
{
    color: black;

}

/* this is what moves the button */
.center
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 45%;
    -ms-transform: translateY(-50%, -50%);
    transform: translateY(-50%, -50%);
}

/*this moves the h1*/
.h1
{
    margin: 0;
    position: absolute;
    top: 10%;
    left: 38%;
    -ms-transform: translateY(-50%, -50%);
    transform: translateY(-50%, -50%);
}


